node_modules
.env
generated/
/node_modules
logs/
dist/
dist
/dist/
/dist
/logs/
/logs
logs

/logs/combined.log
/logs/error.log

/logs/*.log
/logs/*.log.*
/logs/*.log.*.*
/logs/*.log.*.*.*
/logs/*.log.*.*.*.*
/logs/*.log.*.*.*.*.*
/logs/*.log.*.*.*.*.*.*
/logs/*.log.*.*.*.*.*.*.*
/logs/*.log.*.*.*.*.*.*.*.*
/logs/*.log.*.*.*.*.*.*.*.*.*
/logs/*.log.*.*.*.*.*.*.*.*.*.*
/logs/*.log.*.*.*.*.*.*.*.*.*.*.*
/logs/*.log.*.*.*.*.*.*.*.*.*.*.*.*
/logs/*.log.*.*.*.*.*.*.*.*.*.*.*.*.*
/logs/*.log.*.*.*.*.*.*.*.*.*.*.*.*.*.*